{% extends 'base.html.twig' %}

{% block title %}GuestBook Casa Jorn{% endblock %}

{% block body %}

	{% if entries %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Guest</th>
					<th>From</th>
					<th>Message</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
					<tr>
						<td>{{entry.guestName}}</td>
						<td>{{entry.guestLocation}}</td>
						<td>{{entry.message}}</td>
						<td>
							<a href="/entry/edit/{{entry.id}}" class="btn btn-dark">Edit</a>
{# 							<a href="#" class="btn btn-danger delete-entry" data-id="{{entry.id}}">Delete</a> #}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There are no guest entries to display</p>
	{% endif %}

{% endblock %}