{% extends 'base.html.twig' %}

{% block title %}Casa Jorn: THE best fictional holiday destination{% endblock %}

{% block body %}

	{% if entries %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Guest</th>
					<th>From</th>
					<th>Message</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
					<tr>
						<td>{{entry.guestName}}</td>
						<td>{{entry.guestLocation}}</td>
						<td>{{entry.message}}</td>
						<td>{{ entry.date |date('d-m-Y') }}</td>
						<td>
							<a href="/entry/edit/{{entry.id}}" class="btn btn-dark">Edit</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There are no guest entries to display</p>
	{% endif %}

{% endblock %}